.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  height: 100vh;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-blend-mode: darken;
}

.LandingImage {
  z-index: 0;
}

.TextDiv {
  position: 'relative';
  z-index: 1;
}
